[submodule "Tools/esp-idf"]
	path = Tools/esp-idf
	url = git@github.com:OtherCrashOverride/esp-idf.git
    branch = v3.2-odroid
[submodule "Odroid/odroid-go-firmware"]
	path = Odroid/odroid-go-firmware
	url = git@github.com:OtherCrashOverride/odroid-go-firmware.git
	branch = esp-idf-v3.2   
[submodule "Launchers/go-play"]
	path = Launchers/go-play
	url = git@github.com:OtherCrashOverride/go-play.git
[submodule "Launchers/emulator-launcher-odroid-go"]
	path = Launchers/emulator-launcher-odroid-go
	url = git@github.com:IlyaMZP/emulator-launcher-odroid-go.git
