menu "LCD Screen Driver"

    choice LCD_DRIVER_CHIP
        prompt "LCD Driver Chip"
        default LCD_DRIVER_CHIP_RETRO_ESP32
        help
            Select Your LCD Driver

    config LCD_DRIVER_CHIP_DEFAULT
        bool "Odroid Go Default (ILI9341) [2.4\"]"

    config LCD_DRIVER_CHIP_RETRO_ESP32
        bool "Retro ESP32 (ILI9342) [2.6\"]"

    endchoice

endmenu