menu "Retro ESP32 Configuration"
    choice LCD_DRIVER_CHIP
        prompt "LCD Driver Chip"
        default LCD_DRIVER_CHIP_ODROID_GO
        help
            LCD Screen Driver

    config LCD_DRIVER_CHIP_ODROID_GO
        bool "Odroid Go - 2.4\" [ILI9341]"

    config LCD_DRIVER_CHIP_RETRO_ESP32
        bool "Retro ESP32 - 2.6\" [ILI9342]"

    endchoice

    choice MENU_HOT_KEYS
        prompt "MENU Key Options"
        default DEFAULT_MENU_KEY
        help
            Select Hot Key (Menu Button)

    config DEFAULT_MENU_KEY
        bool "Odroid Go MENU Button"

    config COMBO_MENU_KEY
        bool "START + SELECT as MENU button"

    endchoice

    choice IN_GAME_MENU
        prompt "In Game Menu"
        default IN_GAME_MENU_YES
        help
            Use Retro ESP32 - In Game Menu

    config IN_GAME_MENU_YES
        bool "YES"

    config IN_GAME_MENU_NO
        bool "NO"

    endchoice
endmenu
